<!DOCTYPE html>
<html
	lang="en"
	dir="ltr"
>
	<head>
		<meta charset="utf-8" />
		<title>Flight Price Comparison</title>
		<meta charset="utf-8" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="/css/styles.css"
		/>
	</head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header ">
                    <p class="navbar-brand ">Flight Price Comparison</p>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li id="home"><a href="/">Compare Price</a></li>
                    <li id="github"><a href="https://github.com/Fadedrifleman/FlightPriceComparisionAPI" target="_blank">Github Repo</a></li>
                </ul>
            </div>
        </nav>

		<div class="container">
